#siteNav {
	BORDER-BOTTOM: #008cc3 1px solid; BORDER-LEFT: #008cc3 1px; LINE-HEIGHT: 0px; MARGIN: 0px; WIDTH: 100%; BACKGROUND: #e4e4e4; HEIGHT: 20px; BORDER-TOP: #008cc3 1px; BORDER-RIGHT: #008cc3 1px
}
#siteNavigation {
	Z-INDEX: 97; POSITION: relative; LINE-HEIGHT: 20px; MARGIN: 0px; WIDTH: 100%; WHITE-SPACE: nowrap; COLOR: black; FONT-SIZE: 12px
}
#siteNavigation UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#siteNavigation LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; TEXT-TRANSFORM: none; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 22px; FLOAT: left; PADDING-TOP: 0px
}
#siteNavigation A {
	TEXT-TRANSFORM: none; COLOR: black; TEXT-DECORATION: none
}
#siteNavigation A:hover {
	TEXT-DECORATION: underline
}
#siteNavigation .dropdownmenu A {
	TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
#siteNavigation .dropdownmenu A:hover {
	TEXT-DECORATION: underline
}
#siteNavigation .popoutmenu UL A {
	TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
#siteNavigation .popoutmenu UL A:hover {
	TEXT-DECORATION: underline
}
.dropdownmenu {
	BACKGROUND-IMAGE: url(../images/arrow_nav_top.gif); POSITION: relative; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%
}
.dropdownmenu:hover {
	BACKGROUND-COLOR: #666666; COLOR: #ffffff; CURSOR: pointer
}
.dropdownmenu UL {
	BORDER-BOTTOM: #fafafa 1px solid; POSITION: absolute; BORDER-LEFT: #fafafa 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #666666; LIST-STYLE-TYPE: none; DISPLAY: none; COLOR: #ffffff; BORDER-TOP: #fafafa 1px solid; BORDER-RIGHT: #fafafa 1px solid; TOP: 24px; LEFT: -1px
}
.dropdownmenu LI {
	LINE-HEIGHT: 20px
}
.dropdownmenu UL A {
	TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.dropdownmenu UL A:hover {
	TEXT-DECORATION: underline
}
.dropdownmenu .popoutmenu UL {
	BORDER-BOTTOM: #fafafa 1px solid; POSITION: absolute; BORDER-LEFT: #fafafa 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #666666; LIST-STYLE-TYPE: none; COLOR: #ffffff; BORDER-TOP: #fafafa 1px solid; BORDER-RIGHT: #fafafa 1px solid; TOP: 0px
}
.dropdownmenu .popoutmenu UL LI {
	LINE-HEIGHT: 20px
}
.dropdownmenu .popoutmenu:hover UL {
	DISPLAY: block
}
.PopupMenu {
	BACKGROUND-IMAGE: url(../images/arrow_nav_left.gif); Z-INDEX: 98; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right 50%
}
